<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${titel}">Product Assurance, Safety &amp; Sustainability Requirements</title>
    <meta name="title" th:text="${titel}"/>
    <meta name="description" th:content="${beschreibung}"/>
    <meta name="author" content="DLR AR-ZS"/>
    <meta name="subject" content="Project Requirements"/>
    <meta name="keywords" content="Requirements, DLR"/>


    <link rel="stylesheet" type="text/css" href="css/page.css"/>

    <style>
        .drd-tabelle th {
            background-color: silver;
            vertical-align: top;
        }

        .drd-tabelle td {
            background-color: lightgoldenrodyellow;
            vertical-align: top;
        }

        .box {
            font-size: 1.17em;
            font-weight: bolder;
            padding: 10px;
            background-color: rgb(210, 233, 255)
        }

	.na {
	    font-style: italic;
	    color: #D3D3D3;
	    // display: none;
	}
}





























    </style>
    <bookmarks>
        <bookmark th:each="bookmark: ${bookmarks}" th:name="${bookmark.value}" th:href="'#' + ${bookmark.key}"/>
    </bookmarks>
</head>
<body>

<div style="position: running(dokument_datum);font-size:x-small;border-bottom: 1px solid black;">
    <span th:text="${DOKUMENT}"/><br/>
    <span th:text="${DATUM}"/>
</div>

<div style="position: running(logo)">
    <img class="logo" src="css/img/dlr-logo.png" alt="DLR Logo"/>
</div>

<header-box>
    <h1>DLR<br/>Product Assurance</h1>
    <h2>Space Agency</h2>
</header-box>


<div style="position: running(dokumenttyp_projekt);font-size:x-small;border-top: 1px solid black">
    <span>Tailoring Catalogue</span><br/>
    <span th:text="${PROJEKT}"/>
</div>


<title-box>
    <dokument-typ>Tailoring Catalogue</dokument-typ>
    <dokument-subtyp>Product Assurance, Safety &amp; Sustainability Requirements</dokument-subtyp>
    <dokument-projekt>for DLR Space Projects</dokument-projekt>
    <dokument-release>DLR-RF-PS-001<br/>Issue 8.2.1<br/>April 2021</dokument-release>
</title-box>


<page-after>
    <div style="margin:auto;margin-top: 680px">
        Copyright © 2019 Space Administration - DLR. All rights reserved.<br/>
        Copyright © in this document is owned by the Space Administration - DLR.<br/>
        Any person is hereby authorized to view, copy, print, and distribute this document subject to the following
        conditions:
        <p>
            The document may be used for informational purposes only.<br/>
            The document may only be used for non-commercial, non-profit purposes.
        </p>
        Any copy of this document thereof must include this Copyright notice. <br/>
        This document is provided "as is", and copyright holders make no warranties, including, but not limited to,
        warranties of merchantability, fitness for a particular purpose, non-infringement; that the contents of the
        document are suitable for any purpose; nor that the implementation of such contents will not infringe any third
        party patents, copyrights, trademarks or other rights.
    </div>
</page-after>


<page-after>
    <div style="width: 60%;margin:auto;text-align:center">
        <hr/>
        <dokument-typ>Tailoring Catalogue</dokument-typ>
        <dokument-subtyp>Product – Assurance, Safety &amp; Sustainability Requirements</dokument-subtyp>
        <dokument-projekt>for DLR - Space Projects</dokument-projekt>
        <hr/>
    </div>
    <div style="width: 90%;margin:auto;margin-top: 250px; ">
        <table border="1px" class="center" style="table-layout:fixed;border-collapse:collapse;width:100%">
            <thead>
            <tr>
                <th style="width:20%"></th>
                <th style="width:40%">Name</th>
                <th style="width:25%">Signature</th>
                <th style="width:15%">Date</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</page-after>

<page-after>
    <div style="margin-top: 300px;text-align:center">
        (THIS PAGE INTENTIONALLY LEFT BLANK)
    </div>
</page-after>

<page-after id="toc">
    <h2>Table of Content</h2>
    <ul class="toc">
        <li th:each="requirement: ${requirements.?[!#strings.isEmpty(chapter)]}">
            <a th:href="'#' + ${requirement.chapter}" th:text="${requirement.text}"></a>
        </li>
    </ul>
</page-after>

<page-after>
    <h1>DLR - AeroSpace Quality Industry Cooperation</h1>
</page-after>


<page-after>
    <h1>Tailoring Catalogue – In General</h1>
    The tailoring catalogue is prepared by a working group composed by competent representatives from important prime
    space
    contractorsand DLR Product Assurance experts. They release the main issues of this catalogue. Since 2018 there is a
    "Arbeitskreis DLR RFMPA/QA Anforderungen" established that introduces minor updates and additions to keep the
    catalogue
    in an up-to-date status. For this revisions of the signed issue are released.
    For improved transparency it was decided in March 2019 by the Arbeitskreis to revise the sub-title of the catalogue
    to
    "ProductAssurance, Safety &amp; Sustainability" to reflect that the requirement chapters starting with chapter 11
    are
    not purley PA/QA and Safety related but releated to sustainability topics.

    <h1>DLR Space Administration Tailoring Methodology</h1>
    The DLR Space Administration Tailoring Methodology is based on the type of mission or project in combination with
    the
    corresponding specific risk assessments. <br/>
    As first step the project type has to be identified. For this purpose several characteristics of missions or
    projects in
    national space program have to distinguished, i.e. Space Flight Type (e.g., satellite, lander), Launcher Type (e.g.,
    expendable, reusable), Utilization (e.g., freeflyer, ISS internal), Objective (spacecraft, payload), Maintainability
    Requirements level, Environment Conditions (atmosphere, space), Safety Requirements level, and Manned Flight
    Authority
    (ESA, NASA, Roscosmos).
    These characteristics specify the project sufficiently to identify which project type needs to be applied in the
    tailoring process, i.e. SAT, INST, ISS and MO.


    <!--<page-after>-->
    <!--    <p>-->
    <!--        Safety: General Safety Requirements<br/>-->
    <!--        General Safety Requirements (Level–3 ) will be applied.-->
    <!--        <img src="katalog/safety.png" align="right"/>-->
    <!--        Its goal is to protect ground personnel, ground support equipment, the general public, public and private-->
    <!--        property from hazards associated with the space system.-->

    <!--    </p>-->
    <!--</page-after>-->

    <!--<page-after>-->
    <!--    <table>-->
    <!--        <tbody>-->
    <!--        <tr>-->
    <!--            <td colspan="2">Safety: General Safety Requirements</td>-->
    <!--        </tr>-->
    <!--        <tr>-->
    <!--            <td>General Safety Requirements (Level–3 ) will be applied.<br/>-->
    <!--                Its goal is to protect ground personnel, ground support equipment, the general public, public and-->
    <!--                private-->
    <!--                property from hazards associated with the space system.-->
    <!--            </td>-->
    <!--            <td><img src="katalog/safety.png"/></td>-->
    <!--        </tr>-->
    <!--        <tr>-->
    <!--            <td colspan="2">Safety: Advanced Safety Requirements</td>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->
    <!--</page-after>-->

    In the second step of the tailoring methodology, these mission or project characteristics are complemented with
    refined analyses regarding lifetime, budget class, complexity, technology risk, and risk policy levels (high, low)
    according the definitions given below.
    <ul>
        <li>Lifetime<br/>
            Required Lifetime of operational capability.The total period of time in a system's life that it is
            operational and meeting the user's need.
        </li>
        <li>Budget<br/>
            Total budget allocated for the project.
        </li>
        <li>Complexity: High<br/>
            The effort concerning adaption, interfaces and/or integration will be important.
        </li>
        <li>Complexity: Low<br/>
            Low complex system with plain and knowing adaption and interfaces.
        </li>
        <li>Technology Risk: High<br/>
            For the realisation of the product the effort concerning: available technical materials, performance
            parameter, performance load conditions, environmental conditions will be important
        </li>
        <li>Technology Risk: Low<br/>
            For the realisation of the product proven technology that are state of the art are available and can be
            applied.
        </li>
        <li>Risk Policy: Priority High<br/>
            A project when loss of the mission would be unacceptable concerning space programme activities or provider
            of
            services
        </li>
        <li>Risk Policy: Priority Low<br/>
            A minimum cost project. The mission is only worthwhile if its cost is kept down.
            The management activities are reduced to a minimum. The level of accepted risk is higher.
        </li>
    </ul>
    Based on the these risk assessments the requirement levels are determined for each of the fields Product Assurance
    Management, Quality Assurance Management, Maintainability, Dependability, Safety/Space Debris Mitigation, EEE Parts
    Procurement, Software Assurance and Materials, Mechanicals Parts and Processes.
    <br/>
    The tailoring levels applied in this requirement catalogue are defined in the table below.
    <table>
        <thead>
        <tr>
            <td>Level</td>
            <td>Description</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>A1-A10</td>
            <td>Requirements for Product Assurance Management</td>
        </tr>
        <tr>
            <td>Q1-Q10</td>
            <td>Requirements for Quality Assurance</td>
        </tr>
        <tr>
            <td>M1-M10</td>
            <td>Requirements for Maintainability</td>
        </tr>
        <tr>
            <td>R1-R10</td>
            <td>Requirements for Dependability</td>
        </tr>
        <tr>
            <td>S1-S10</td>
            <td>Requirements for Safety</td>
        </tr>
        <tr>
            <td>E1-E10</td>
            <td>Requirements for EEE Parts Procurement</td>
        </tr>
        <tr>
            <td>P1-P10</td>
            <td>Requirements for Materials, Mechanical Parts and Processes</td>
        </tr>
        <tr>
            <td>W1-W10</td>
            <td>Requirements for Software Assurance</td>
        </tr>
        <tr>
            <td>J1-J10</td>
            <td>Space Debris</td>
        </tr>
        <tr>
            <td>F1-F10</td>
            <td>Planetary Protection</td>
        </tr>
        <tr>
            <td>C1-C10</td>
            <td>Space Cyber Sec.</td>
        </tr>
        <tr>
            <td>B1-B10</td>
            <td>Ground Segment</td>
        </tr>
        </tbody>
    </table>
</page-after>

<table width="100%">
    <tbody>
    <tr th:each="requirement : ${requirements}">
        <td style="width:3%;font-size:x-small;" th:utext="${#strings.listJoin(requirement.phases, '<br/>')}"></td>
        <td style="width:7%;font-size:x-small;"
            th:utext="${#strings.listJoin(requirement.identifiers, '<br/>')}"></td>
        <td style="width:15%;font-size:x-small;"
            th:utext="${#strings.concat(requirement.position, '<br/><br/>', requirement.reference)}">Position
        </td>
        <td style="width:85%"
            th:classappend="${requirement.chapter!=null}?box"
            th:attrappend="id=${requirement.chapter!=null}?${requirement.chapter}">
	   <span th:if="${#strings.equalsIgnoreCase(requirement.text, 'QME_INSERT_DRD_LIST')}">
	        <table class="drd-tabelle">
                    <thead>
                        <tr class="drd">
                            <th style="width:21%">Title</th>
                            <th style="width:21%">Due Date</th>
                            <th style="width:21%">PA-Req't.</th>
                            <th style="width:15%">DRD No</th>
                            <th style="width:21%">DLR Action</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr th:each="drd : ${drds}">
                        <td th:text="${drd.titel}"></td>
                        <td th:text="${drd.datum}"></td>
                        <td th:utext="${#strings.listJoin(drd.anforderung, ',<br/>')}"></td>
                        <td th:text="${drd.number}"></td>
                        <td th:text="${drd.action}"></td>
                    </tr>
                </tbody>
            </table>
	   </span>
            <span th:if="${!#strings.equalsIgnoreCase(requirement.text, 'QME_INSERT_DRD_LIST')}"
                  th:class="${#strings.startsWith(requirement.text, '<ul>') OR #strings.startsWith(requirement.text, '<blockquote>')}? 'no-margin'">
                <span th:utext="${requirement.text}">Anforderungstext</span>
            </span>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>
