<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${titel}">Product Assurance, Safety &amp; Sustainability Requirements</title>
    <meta name="description" th:content="${beschreibung}" content="DRD Katalog für"/>
    <meta name="author" content="DLR AR-ZS"/>
    <meta name="subject" content="Project DRDa"/>

    <link rel="stylesheet" type="text/css" href="../css/page.css"/>
    <link rel="stylesheet" type="text/css" href="../css/drd.css"/>

</head>
<body>

<div style="position: running(dokument_datum);font-size:x-small;border-bottom: 1px solid black;">
    <span th:text="${DOKUMENT}"/><br/>
    <span th:text="${DATUM}"/>
</div>

<div style="position: running(logo)">
    <img class="logo" src="../css/img/dlr-logo.png" alt="DLR Logo" width="29px" height="24px"
         style="position: absolute;top:10px;right: 0px;"/>
</div>

<header-box>
    <h1>DLR<br/>Product Assurance</h1>
    <h2>Space Agency</h2>
</header-box>

<div style="position: running(dokumenttyp_projekt);font-size:x-small;border-top: 1px solid black">
    <span>Title: Product Assurance, Safety &amp; Sustainability DRD</span><br/>
    <span th:text="${PROJEKT}"/>
</div>

<title-box>
    <dokument-typ>Document Requirement<br/>Definition (DRD)</dokument-typ>
    <dokument-subtyp>Product Assurance, Safety &amp;<br/>Sustainability Requirements for</dokument-subtyp>
    <dokument-projekt>[[${PROJEKT}]]</dokument-projekt>
    <dokument-release>[[${DOKUMENT}]]<br/>[[${DATUM}]]</dokument-release>
</title-box>

<page-after>
    <div style="margin-top: 300px;text-align:center">
        (THIS PAGE INTENTIONALLY LEFT BLANK)
    </div>
</page-after>

<page-after id="toc">
    <h2>Table of Content</h2>
    <ul class="toc">
        <li><a th:href="'#toc'">Table of Content</a></li>
        <li><a th:href="'#drd'">Document Requirement Definitions (DRDs)</a></li>
        <li><a th:href="'#abbreviations'">Abbreviations</a></li>
        <li th:each="drd: ${drds}"><a th:href="'#' + ${drd.number}" th:text="'DRD-' + ${drd.number}+' - '+ ${drd.name}"
                                      th:if="${drd.number.matches('\d{1,2}\.\d{1,2}')}"></a></li>
    </ul>
</page-after>

<page-after>
    <div id="drd">
        <table class="titel">
            <tbody>
            <tr>
                <td>
                    <h2>Document Requirement Definitions (DRDs)</h2>
                </td>
            </tr>
            </tbody>
        </table>


        <table class="purpose">
            <tbody>
            <tr>
                <td>Scope</td>
                <td>The contract holder shall establish and supply documents as specified in DLR-RFM document
                    DLR-RF-PS-001 "Product Assurance &amp; Safety Requirements for DLR-Space Projects“. <br/>
                    These documents are required to support hardware quality and reliability, to provide visibility for
                    evaluating quality status of hardware and software, and to provide visibility for
                    assessing the Product Assurance Programme.
                </td>
            </tr>

            <tr>
                <td><span style="font-weight: bold;">Purpose</span></td>
                <td>A model set of Document Requirements Description (DRD) sheets is provided below and shall provide
                    more detailed information of required data by DLR-RFM and shall also provide example in case of
                    applicable form sheets.In case of existing appropriate in-house form sheets the contractor shall use
                    his own forms in any case but the form sheets must reflect all required data of this specification
                    respectively in accordance to the DRD specification annexed below.
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:insert="__${FRAGMENT_PREFIX}__/__${catalogVersion}__/drd/abbreviations :: content"></div>

</page-after>


<th:block th:each="drd : ${drds}">
    <page-after th:id="${drd.number}" th:if="${drd.number.matches('\d{1,2}\.\d{1,2}')}">
        <div th:insert="~{__${FRAGMENT_PREFIX}__/__${drd.fragment}__ :: content}?:_"></div>
    </page-after>
</th:block>

</body>

</html>
