<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Abbreviations</title>

    <link rel="stylesheet" href="../css/page.css"/>
    <link rel="stylesheet" href="../css/drd.css"/>
</head>

<body>
<div th:fragment="content" id="abbreviations">
    <table class="titel" aria-label="title">
        <tbody>
        <tr>
            <td>
                <h2>Abbreviations</h2>
            </td>
        </tr>
        </tbody>
    </table>
    The following abbreviations are defined and used within this document:
    <table class="grid" padding="5px">
        <colgroup>
            <col style="width: 35%"/>
            <col style="width: 65%"/>
        </colgroup>
        <tbody>
        <tr>
            <td>AIT</td>
            <td>Assembly, Integration and Test</td>
        </tr>
        <tr>
            <td>AIV</td>
            <td>Assembly, Integration and Verification</td>
        </tr>
        <tr>
            <td>AR</td>
            <td>Acceptance Review</td>
        </tr>
        <tr>
            <td>AT</td>
            <td>Accepptance Test</td>
        </tr>
        <tr>
            <td>ATP</td>
            <td>Authorisation to Proceed</td>
        </tr>
        <tr>
            <td>BBM</td>
            <td>Breadboard Model</td>
        </tr>
        <tr>
            <td>CAM</td>
            <td>Commercial, Aviation and Military (Equipment)</td>
        </tr>
        <tr>
            <td>CCN</td>
            <td>Contract Change Notice</td>
        </tr>
        <tr>
            <td>CDR</td>
            <td>Critical Design Review</td>
        </tr>
        <tr>
            <td>CIDL</td>
            <td>Configuration Item Data List</td>
        </tr>
        <tr>
            <td>CIL</td>
            <td>Critical Items List</td>
        </tr>
        <tr>
            <td>COC</td>
            <td>Certificate of Compliance</td>
        </tr>
        <tr>
            <td>CoC</td>
            <td>Certificate of Conformance</td>
        </tr>
        <tr>
            <td>CORR</td>
            <td>Corrosion</td>
        </tr>
        <tr>
            <td>CPA</td>
            <td>Central Parts Procurement Agency</td>
        </tr>
        <tr>
            <td>CR</td>
            <td>Commissioning Review</td>
        </tr>
        <tr>
            <td>CRS</td>
            <td>Cleanliness Requirements Specification</td>
        </tr>
        <tr>
            <td>CTE</td>
            <td>Control Test Equipment</td>
        </tr>
        <tr>
            <td>CWA</td>
            <td>Caution &amp; Warning Analysis</td>
        </tr>
        <tr>
            <td>DCL</td>
            <td>Declared Component List</td>
        </tr>
        <tr>
            <td>DDF</td>
            <td>Design Definition File</td>
        </tr>
        <tr>
            <td>DD&amp;V</td>
            <td>Design, Development and Verification Plan</td>
        </tr>
        <tr>
            <td>DLR-RFM</td>
            <td>German Aerospace Center - Space Administration</td>
        </tr>
        <tr>
            <td>DML</td>
            <td>Declared Materials List</td>
        </tr>
        <tr>
            <td>DMPL</td>
            <td>Declared Mechanical Parts List</td>
        </tr>
        <tr>
            <td>DPA</td>
            <td>Destructive Physical Analysis</td>
        </tr>
        <tr>
            <td>DPL</td>
            <td>Declared Process List</td>
        </tr>
        <tr>
            <td>DRB</td>
            <td>Delivery Review Board</td>
        </tr>
        <tr>
            <td>DRD</td>
            <td>Document Requirements Definition</td>
        </tr>
        <tr>
            <td>DRL</td>
            <td>Document Requirements List</td>
        </tr>
        <tr>
            <td>DSO</td>
            <td>Detailed Supplementary Objective</td>
        </tr>
        <tr>
            <td>DTO</td>
            <td>Development Test Objective</td>
        </tr>
        <tr>
            <td>ECSS</td>
            <td>European Cooperation for Space Standardization</td>
        </tr>
        <tr>
            <td>ECP</td>
            <td>Engineering Change Proposal</td>
        </tr>
        <tr>
            <td>ECR</td>
            <td>Engineering Change Request</td>
        </tr>
        <tr>
            <td>EEE</td>
            <td>Electrical, Electronic and Electromechanical</td>
        </tr>
        <tr>
            <td>EIDP</td>
            <td>End Item Data Package</td>
        </tr>
        <tr>
            <td>ELV</td>
            <td>Expendable Launch Vehicle</td>
        </tr>
        <tr>
            <td>EM</td>
            <td>Engineering Model</td>
        </tr>
        <tr>
            <td>EMC</td>
            <td>Electromagnetic Compatibility</td>
        </tr>
        <tr>
            <td>EOM</td>
            <td>End of Mission</td>
        </tr>
        <tr>
            <td>ESA</td>
            <td>European Space Agency</td>
        </tr>
        <tr>
            <td>EVA</td>
            <td>Extra Vehicular Activity</td>
        </tr>
        <tr>
            <td>FDIR</td>
            <td>Failure Detection, Isolation and Recovery</td>
        </tr>
        <tr>
            <td>FDS</td>
            <td>Fire detection and Suppression</td>
        </tr>
        <tr>
            <td>FM</td>
            <td>Flight Model</td>
        </tr>
        <tr>
            <td>FMEA</td>
            <td>Failure Modes and Effects Analysis</td>
        </tr>
        <tr>
            <td>FMECA</td>
            <td>Failure Modes, Effects and Criticality Analysis</td>
        </tr>
        <tr>
            <td>FOM</td>
            <td>Flight Operational Manual</td>
        </tr>
        <tr>
            <td>FRR</td>
            <td>Flight Readiness Review</td>
        </tr>
        <tr>
            <td>FS</td>
            <td>Flight Spare</td>
        </tr>
        <tr>
            <td>FSDP</td>
            <td>Flight Safety Data Package</td>
        </tr>
        <tr>
            <td>FTA</td>
            <td>Fault Tree Analysis</td>
        </tr>
        <tr>
            <td>GFE</td>
            <td>Government-Furnished Equipment</td>
        </tr>
        <tr>
            <td>GSDP</td>
            <td>Ground Safety Data Package</td>
        </tr>
        <tr>
            <td>GSRP</td>
            <td>Ground Safety Review Panel</td>
        </tr>
        <tr>
            <td>GSE</td>
            <td>Ground Support Equipment</td>
        </tr>
        <tr>
            <td>GTE</td>
            <td>Ground Test Equipment</td>
        </tr>
        <tr>
            <td>HR</td>
            <td>Hazard Report</td>
        </tr>
        <tr>
            <td>HSIA</td>
            <td>Hardware/Software Interaction Analysis</td>
        </tr>
        <tr>
            <td>HTTP</td>
            <td>Hypertext Transfer Protocol</td>
        </tr>
        <tr>
            <td>H/W</td>
            <td>Hardware</td>
        </tr>
        <tr>
            <td>ICD</td>
            <td>Interface Control Document</td>
        </tr>
        <tr>
            <td>I/F</td>
            <td>Interface</td>
        </tr>
        <tr>
            <td>IGSE</td>
            <td>Instrument Ground Support Equipment</td>
        </tr>
        <tr>
            <td>ISS</td>
            <td>International Space Station</td>
        </tr>
        <tr>
            <td>ISS RS</td>
            <td>International Space Station Russian Module</td>
        </tr>
        <tr>
            <td>IVA</td>
            <td>Intravehicular Activity</td>
        </tr>
        <tr>
            <td>JSC</td>
            <td>Lyndon B. Johnson Space Center</td>
        </tr>
        <tr>
            <td>KHB</td>
            <td>Kennedy Handbook</td>
        </tr>
        <tr>
            <td>KIP</td>
            <td>Key Inspection Point</td>
        </tr>
        <tr>
            <td>KSC</td>
            <td>John F. Kennedy Space Center</td>
        </tr>
        <tr>
            <td>LAT</td>
            <td>Lot Acceptance Test</td>
        </tr>
        <tr>
            <td>LRR</td>
            <td>Launch Readiness Review</td>
        </tr>
        <tr>
            <td>LVT</td>
            <td>Lot Validation Testing</td>
        </tr>
        <tr>
            <td>MAPTIS</td>
            <td>Material and process Technical Information System</td>
        </tr>
        <tr>
            <td>MDR</td>
            <td>Mission Definition Review</td>
        </tr>
        <tr>
            <td>MIP</td>
            <td>Mandatory Inspection Point</td>
        </tr>
        <tr>
            <td>MIUL</td>
            <td>Materials Identification and Usage List</td>
        </tr>
        <tr>
            <td>MoM</td>
            <td>Minutes of Meeting</td>
        </tr>
        <tr>
            <td>MP</td>
            <td>Maintenance Plan</td>
        </tr>
        <tr>
            <td>MSFC</td>
            <td>Marshal Space Flight Centre</td>
        </tr>
        <tr>
            <td>MSIL</td>
            <td>Maintenance Significant Items List</td>
        </tr>
        <tr>
            <td>MTBF</td>
            <td>Mean Time Between Failures</td>
        </tr>
        <tr>
            <td>MTRR</td>
            <td>Mean Time To Repair</td>
        </tr>
        <tr>
            <td>MUA</td>
            <td>Material Usage Agreement</td>
        </tr>
        <tr>
            <td>NASA</td>
            <td>American Space Agency</td>
        </tr>
        <tr>
            <td>NC</td>
            <td>Non-conformance</td>
        </tr>
        <tr>
            <td>NCR</td>
            <td>Non-conformance Report</td>
        </tr>
        <tr>
            <td>NCTS</td>
            <td>Non-conformance Tracking System</td>
        </tr>
        <tr>
            <td>NDI</td>
            <td>Non-destructive Inspection</td>
        </tr>
        <tr>
            <td>NRB</td>
            <td>Non-conformance Review Board (formerly known as Material Review Board, MRB)</td>
        </tr>
        <tr>
            <td>NSPL</td>
            <td>NASA Parts Selection List</td>
        </tr>
        <tr>
            <td>NSTS</td>
            <td>National Space Transportation System</td>
        </tr>
        <tr>
            <td>NSTS/ISS</td>
            <td>National Space Transportation System / International Space Station</td>
        </tr>
        <tr>
            <td>OFFG</td>
            <td>Off-gassing</td>
        </tr>
        <tr>
            <td>OID</td>
            <td>Outline Installation Drawing</td>
        </tr>
        <tr>
            <td>OM</td>
            <td>Operation and Maintenance Manual</td>
        </tr>
        <tr>
            <td>ORU</td>
            <td>Orbital Replaceable Unit</td>
        </tr>
        <tr>
            <td>OTS</td>
            <td>Off-the-shelf</td>
        </tr>
        <tr>
            <td>OUTG</td>
            <td>Outgassing</td>
        </tr>
        <tr>
            <td>PA</td>
            <td>Product Assurance</td>
        </tr>
        <tr>
            <td>PAD</td>
            <td>Parts Approval Document</td>
        </tr>
        <tr>
            <td>PAP</td>
            <td>Product Assurance Plan</td>
        </tr>
        <tr>
            <td>PCB</td>
            <td>Printed Circuit Board</td>
        </tr>
        <tr>
            <td>PDR</td>
            <td>Preliminary Design Review</td>
        </tr>
        <tr>
            <td>PED</td>
            <td>Payload Element Developer</td>
        </tr>
        <tr>
            <td>PFM</td>
            <td>Protoflight Model</td>
        </tr>
        <tr>
            <td>PHR</td>
            <td>Payload Hazard Report</td>
        </tr>
        <tr>
            <td>PL</td>
            <td>Payload</td>
        </tr>
        <tr>
            <td>PM</td>
            <td>Project Management</td>
        </tr>
        <tr>
            <td>PMM</td>
            <td>Payload Mission Manager</td>
        </tr>
        <tr>
            <td>PMP</td>
            <td>Mechanical Parts, Materials and Processes</td>
        </tr>
        <tr>
            <td>PO</td>
            <td>Payload Organization</td>
        </tr>
        <tr>
            <td>PPCB</td>
            <td>Part Procurement Control Board</td>
        </tr>
        <tr>
            <td>PPL</td>
            <td>Preferred Parts List</td>
        </tr>
        <tr>
            <td>PRR</td>
            <td>Preliminary Requirement Review</td>
        </tr>
        <tr>
            <td>PSRP</td>
            <td>Payload Safety Review Panel</td>
        </tr>
        <tr>
            <td>QA</td>
            <td>Quality Assurance</td>
        </tr>
        <tr>
            <td>QCI</td>
            <td>Quality Conformance Inspection</td>
        </tr>
        <tr>
            <td>QM</td>
            <td>Qualification Model</td>
        </tr>
        <tr>
            <td>QML</td>
            <td>Qualified Manufacturer List</td>
        </tr>
        <tr>
            <td>QPL</td>
            <td>Qualified Parts List</td>
        </tr>
        <tr>
            <td>QR</td>
            <td>Qualification Review</td>
        </tr>
        <tr>
            <td>QT</td>
            <td>Qualification Test</td>
        </tr>
        <tr>
            <td>RAMS</td>
            <td>Reliability, Availability, Maintainability and Safety</td>
        </tr>
        <tr>
            <td>RB</td>
            <td>Requirements Baseline</td>
        </tr>
        <tr>
            <td>RFA</td>
            <td>Request for Approval</td>
        </tr>
        <tr>
            <td>RFD</td>
            <td>Request of Deviation</td>
        </tr>
        <tr>
            <td>RFW</td>
            <td>Request for Waiver</td>
        </tr>
        <tr>
            <td>RME</td>
            <td>Risk Mitigation Experiment</td>
        </tr>
        <tr>
            <td>ROSAVIAKOSMOS</td>
            <td>Russian Space Agency</td>
        </tr>
        <tr>
            <td>SCC</td>
            <td>Stress Corrosion</td>
        </tr>
        <tr>
            <td>SCC</td>
            <td>Space Components Coordination</td>
        </tr>
        <tr>
            <td>SDP</td>
            <td>Safety Data Package</td>
        </tr>
        <tr>
            <td>SE</td>
            <td>Space Experiment</td>
        </tr>
        <tr>
            <td>SEB</td>
            <td>Single Event Induced Burnout</td>
        </tr>
        <tr>
            <td>SEE</td>
            <td>Single Event Effect</td>
        </tr>
        <tr>
            <td>SEGR</td>
            <td>Single Event Gate Rupture</td>
        </tr>
        <tr>
            <td>SEL</td>
            <td>Single Event Latchup</td>
        </tr>
        <tr>
            <td>SEM</td>
            <td>Scanning Electron Microscope</td>
        </tr>
        <tr>
            <td>SEU</td>
            <td>Single Event Upset</td>
        </tr>
        <tr>
            <td>SM</td>
            <td>Service Module</td>
        </tr>
        <tr>
            <td>SM</td>
            <td>Structural Model</td>
        </tr>
        <tr>
            <td>SoW</td>
            <td>Statement of Work</td>
        </tr>
        <tr>
            <td>SPA</td>
            <td>Software Product Assurance</td>
        </tr>
        <tr>
            <td>SPF</td>
            <td>Single Point Failure</td>
        </tr>
        <tr>
            <td>SPL</td>
            <td>Single Point Failure List</td>
        </tr>
        <tr>
            <td>SRD</td>
            <td>Software Requirement Document</td>
        </tr>
        <tr>
            <td>SRR</td>
            <td>System Requirements Review</td>
        </tr>
        <tr>
            <td>SS</td>
            <td>Support System</td>
        </tr>
        <tr>
            <td>SSP</td>
            <td>Space Station Programme</td>
        </tr>
        <tr>
            <td>STS</td>
            <td>Space Transportation System</td>
        </tr>
        <tr>
            <td>STSVO</td>
            <td>Space Transportation System/Vehicle Organisation</td>
        </tr>
        <tr>
            <td>SUM</td>
            <td>Software User Manual</td>
        </tr>
        <tr>
            <td>SV</td>
            <td>Space Vehicle</td>
        </tr>
        <tr>
            <td>SW</td>
            <td>Software</td>
        </tr>
        <tr>
            <td>SW-PA</td>
            <td>Software Product Assurance</td>
        </tr>
        <tr>
            <td>TCI</td>
            <td>Technology Conformance Inspection</td>
        </tr>
        <tr>
            <td>TD</td>
            <td>Technical Description</td>
        </tr>
        <tr>
            <td>TRR</td>
            <td>Test Readiness Review</td>
        </tr>
        <tr>
            <td>TS</td>
            <td>Technical Specification</td>
        </tr>
        <tr>
            <td>TS-EX</td>
            <td>Technical Specification for Space Experiment</td>
        </tr>
        <tr>
            <td>TS-EQ</td>
            <td>Technical Specification for Equipment</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>Uniform Resource Locator</td>
        </tr>
        <tr>
            <td>ÜÜT</td>
            <td>Übernahme/Übergabe Testprotokoll</td>
        </tr>
        <tr>
            <td>VCD</td>
            <td>Verification Control Document</td>
        </tr>
        <tr>
            <td>VTL</td>
            <td>Verification Tracking Log</td>
        </tr>
        <tr>
            <td>WCA</td>
            <td>Worst Case Analysis</td>
        </tr>
        <tr>
            <td>WTA</td>
            <td>Warning Time Analysis</td>
        </tr>
        </tbody>
    </table>
</div>