<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${titel}">Product Assurance, Safety &amp; Sustainability Requirements</title>
    <meta name="title" th:text="${titel}"/>
    <meta name="description" th:content="${beschreibung}"/>
    <meta name="author" content="DLR AR-ZS"/>
    <meta name="subject" content="Project Requirements"/>
    <meta name="keywords" content="Requirements, DLR"/>



    <link rel="stylesheet" type="text/css" href="css/page.css"/>

    <style>
        .drd-tabelle th {
            background-color: silver;
            vertical-align: top;
        }

        .drd-tabelle td {
            background-color: lightgoldenrodyellow;
            vertical-align: top;
        }

        .box {
            font-size: 1.17em;
            font-weight: bolder;
            padding: 10px;
            background-color: rgb(210, 233, 255);
        }

	.na {
	    font-style: italic;
	    color: #D3D3D3;
	    /* display: none; */
	}
}


    </style>
    <bookmarks>
        <bookmark th:each="bookmark: ${bookmarks}" th:name="${bookmark.value}" th:href="'#' + ${bookmark.key}"/>
    </bookmarks>
</head>
<body>

<div style="position: running(dokument_datum);font-size:x-small;border-bottom: 1px solid black;">
    <span th:text="${DOKUMENT}"/><br/>
    <span th:text="${DATUM}"/>
</div>

<div style="position: running(logo)">
    <img class="logo" src="css/img/dlr-logo.png" alt="DLR Logo" width="29px" height="24px"
         style="position: absolute;top:10px;right: 0px;"/>
</div>

<header-box>
    <h1>DLR<br/>Product Assurance</h1>
    <h2>Space Agency</h2>
</header-box>


<div style="position: running(dokumenttyp_projekt);font-size:x-small;border-top: 1px solid black">
    <span>Title: Product Assurance, Safety &amp; Sustainability Requirements</span><br/>
    <span th:text="${PROJEKT}"/>
</div>


<title-box>
    <dokument-typ>Product Assurance</dokument-typ>
    <dokument-subtyp>Safety &amp; Sustainability Requirements for</dokument-subtyp>
    <dokument-projekt>[[${PROJEKT}]]</dokument-projekt>
    <dokument-release>[[${DOKUMENT}]]<br/>[[${DATUM}]]</dokument-release>
</title-box>


<page-after>
    <div style="width: 60%;margin:auto;text-align:center">
        <hr/>
        <dokument-typ>Product Assurance</dokument-typ>
        <dokument-subtyp>Safety &amp; Sustainability Requirements for</dokument-subtyp>
        <dokument-projekt>[[${PROJEKT}]]</dokument-projekt>
        <hr/>
    </div>
    <div style="width: 90%;margin:auto;margin-top: 250px; ">
        <table border="1px" class="center" style="table-layout:fixed;border-collapse:collapse;width:100%">
            <thead>
            <tr>
                <th style="width:20%"></th>
                <th style="width:40%">Name</th>
                <th style="width:25%">Signature</th>
                <th style="width:15%">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" signature : ${signatures}" th:if="${signature.applicable}">
                <td style="width:20%;text-align: center;" th:utext="${#strings.concat(signature.state, '<br/>', signature.faculty)}">Status</td>
                <td style="width:40%;text-align: center;" th:utext="${signature.signee}">Name</td>
                <td style="width:25%"></td>
                <td style="width:15%"></td>
            </tr>
            </tbody>
        </table>
    </div>
</page-after>

<page-after>
    <div style="margin-top: 300px;text-align:center">
        (THIS PAGE INTENTIONALLY LEFT BLANK)
    </div>
</page-after>

<page-after id="toc">
    <h2>Table of Content</h2>
    <ul class="toc">
        <li><a th:href="'#toc'">Table of Content</a></li>
        <li th:each="requirement: ${requirements.?[!#strings.isEmpty(chapter)]}">
            <a th:href="'#' + ${requirement.chapter}" th:utext="${requirement.text}"></a>
        </li>
    </ul>
</page-after>


<table width="100%">
    <tbody>
    <tr th:each="requirement : ${requirements}" th:if="${SHOW_ALL OR requirement.applicable}">
        <td style="width:10%;font-size:x-small" th:classappend="${not requirement.applicable}?na" th:utext="${requirement.reference}">Reference</td>
        <td style="width:5%;font-size:x-small;" th:classappend="${not requirement.applicable}?na"  th:utext="${requirement.position}">Position</td>
        <td style="width:85%"
            th:classappend="${requirement.chapter!=null}?box:(${not requirement.applicable}?na)"
            th:attrappend="id=${requirement.chapter!=null}?${requirement.chapter}">
	   <span th:if="${#strings.equalsIgnoreCase(requirement.text, 'QME_INSERT_DRD_LIST')}">
	        <table class="drd-tabelle">
                    <thead>
                        <tr class="drd">
                            <th style="width:21%">Title</th>
                            <th style="width:21%">Due Date</th>
                            <th style="width:21%">PA-Req't.</th>
                            <th style="width:15%">DRD No</th>
                            <th style="width:21%">DLR Action</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr th:each="drd : ${drds}">
                        <td th:text="${drd.title}"></td>
                        <td th:text="${drd.deliveryDate}"></td>
                        <td th:utext="${#strings.listJoin(drd.requirements, ',<br/>')}"></td>
                        <td th:text="${drd.number}"></td>
                        <td th:text="${drd.action}"></td>
                    </tr>
                </tbody>
            </table>
	   </span>
            <span th:if="${!#strings.equalsIgnoreCase(requirement.text, 'QME_INSERT_DRD_LIST')}" th:class="${#strings.startsWith(requirement.text, '<ul>') OR #strings.startsWith(requirement.text, '<blockquote>')}? 'no-margin'" th:utext="${requirement.text}">Requirementtext</span>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>