table {
    table-layout: fixed;
    width: 100%;
    border: 0;
    vertical-align: top;

}

td {
    text-align: left;
    vertical-align: top;
}

table.titel > tbody > tr {
    background-color: #D2E9FF;
}

table.purpose td:nth-child(1) {
    width:15%;
}
table.purpose td:nth-child(2) {
    width:85%;
}

table.purpose > tbody > tr:first-child > td:first-child {
  font-weight: bold;
}

table.reference td:nth-child(1) {
    width:15%;
}
table.reference td:nth-child(2) {
    width:27%;
}
table.reference td:nth-child(3) {
    width:58%;
}

table.reference > tbody > tr:first-child > td:first-child {
  font-weight: bold;
}

table.content td:nth-child(1) {
    width:15%;
}
table.content td:nth-child(2) {
    width:85%;
}

table.content > tbody > tr:first-child > td:first-child {
  font-weight: bold;
}

table.format td:nth-child(1) {
    width:15%;
}
table.format td:nth-child(2) {
    width:85%;
}

table.format > tbody > tr:first-child > td:first-child {
  font-weight: bold;
}


table.grid {
    border: 1px;
    border-collapse:collapse;
}
table.grid td,th {
    border: 1px solid black;
    border-collapse:collapse;
}


td > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.show-empty {
  empty-cells: show;
}

table.bordered {
    border-style: solid;
    border-collapse: collapse;
	border-width: 1px;
	border-spacing: 0px;
	border-color: #C0C0C0;
}

table.bordered th{
    border-style: solid;
    border-collapse: collapse;
	border-width: 1px;
	border-spacing: 0px;
	border-color: #FFFFFF;
    font-weight: bold;
    background: #C0C0C0;
	padding: 0px;
  }

table.bordered td{
    border-style: solid;
    border-collapse: collapse;
	border-width: 1px;
	border-spacing: 0px;
	border-color: #C0C0C0;
	padding: 4px;
  }



table.word-wrap {
    word-wrap: break-word
}

table.center-bold th {
    font-weight: bold;
    text-align: center;
}

table.ncr {}

table.custom {
    border-collapse: collapse;
	border-width: 1px;
	border-spacing: 0px;
	border-color: #C0C0C0;
}

tr.left > td:first-child {
  border-left:solid;
}

tr.right > td:last-child{
  border-right:solid;
}

tr.all td {
 border:solid;
}

tr.top td {
 border-top:solid;
}

tr.bottom td {
 border-bottom:solid;
}


div.h1 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

div.h2 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.note:before {
    /*text-decoration: underline;*/
    font-weight: bold;
    white-space: pre;
    content: 'NOTE:\A';
}

.note[data-number]:before {
    /* text-decoration: underline;*/
    font-weight: bold;
    white-space: pre;
    content: 'NOTE ' attr(data-number) ':\A';
}

.note[data-number][data-title]:before {
    /* text-decoration: underline;*/
    font-weight: bold;
    white-space: pre;
    content: 'NOTE ' attr(data-number) ': ' attr(data-title) '\A';
}

